.about-header
  color $orange
  font-family $gill-sans
  font-size 37px

.about-content
  width 1000px
  margin 0 auto

.about-banner
  position relative
  width 1000px
  height 500px
  margin-bottom 25px

$banner-names = 'who-we-are' 'why-we-work' 'what-we-believe' 'work-with-us'
for $banner-name in $banner-names
  .about-banner--{unquote($banner-name)}
    background url(unquote('/images/banners/' + $banner-name + '.jpg')) no-repeat

.about-banner-inset
  background-color $white
  width 260px
  position absolute
  bottom 135px
  left 45px
  padding 20px 20px
  >h1
    color $orange
    font-family $gill-sans
    font-size 37px
    line-height normal
    margin 0
  >p
    font-size 13px
    line-height 24px
    margin 0

.about-section
  clearfix()
  margin-bottom 50px
  &:last-child
    margin-bottom 0

.about-section__text
  display block
  float left
  >p
    font-size 13px
    line-height 24px
    margin-bottom 25px
    &:last-child
      margin-bottom 0

.about-section__title
  color $orange
  font-family $gill-sans
  font-size 37px
  margin 0

.about-section__text--wide
  width 650px

.about-section__text--narrow
  width 475px

.about-section__image
  display block
  float right