.jobs-section
  display block
  width 650px

.jobs-section__header
  margin-bottom 30px
  >h1
    color $orange
    font-family $gill-sans
    font-size 37px
    line-height normal
    margin 0
  >p
    font-size 13px
    line-height 24px

.jobs-section__list
  list-style none
  padding 0
  margin-bottom 20px

.jobs-section__job
  margin-bottom 15px
  &:last-child
    margin 0

.jobs-section__job-title
  font-family $gill-sans
  font-size 22px
  margin 0

.jobs-section__job-description
  font-size 13px
  line-height 24px
  margin 0

.job-application
  clearfix()

.job-description
  width 650px
  float left
  >section>section
    margin-bottom 30px

.job-description__title
  >h1
    color $orange
    font-family $gill-sans
    font-size 37px
    line-height normal
    margin 0

.job-description__section-title
  color $orange
  font-family $gill-sans
  font-size 22px
  line-height normal
  margin 0

.job-description__text
  font-size 13px
  line-height 24px
  margin-bottom 12px

.job-application-form
  width 300px
  float right