.vertical-centering-container
  display block
  text-align center
  &:before
    content ''
    display inline-block
    height 100%
    vertical-align middle

.vertical-centering-container--navbar
  height $navbar-height

.vertically-centered
  vertical-align middle


.navbar-brand-logo
  float left
  padding 0
  margin-left 70px
  height $navbar-height

.navbar
  text-transform uppercase

.navbar-nav
  >li
    >a
      display inline-block
      padding-top 0
      padding-bottom 0