.nav-tab-wrapper
  clearfix()

.nav.nav-tabs
  >li
    >a
      padding 10px 15px
      font-family $gill-sans
      &
      &:hover
        color black
      &:hover
        background-color $light-gray