---
layout: faq_layout.hbs
title: FAQ | Do You Have Any Merchandise for Sale?
faqCategory: about-oranges
answerNumber: 3
answerHtml: <p>Not yet, but thanks for the love! In the meantime, get your weekly dose of vitamin C-level branding news, analysis, tips, and more at <a class="highlight" href="http://www.talkingoranges.com/" target="blank">Talking Oranges</a>.</p>
---