---
layout: faq_layout.hbs
title: FAQ | How Much Do Your Services Cost?
faqCategory: services
answerNumber: 2
answerHtml: <p>Our <a class="highlight" href="/help-i-need-a-website.html#answer">custom-designed websites</a>, including twelve months of complimentary basic maintenance, start at $5,500, but we adjust depending on the specifications of your project. Other services are priced on a project-by-project basis or at an hourly rate. <a class="highlight" href="/contact-us.html">Talk to us</a> for a consultation and a price quote.</p>
---