---
layout: faq_layout.hbs
title: FAQ | What Is the Difference Between a Website and a Webpage?
faqCategory: branding
answerNumber: 3
answerHtml: <p>A website is comprised of at least one webpage. A website may have just a home page, or it may have many other internal webpages in addition to the home page.</p>
---