---
layout: faq_layout.hbs
title: FAQ | What Is the Difference Between Website Hosting, Domain Names, and URLs?
faqCategory: about-branding
answerNumber: 4
answerHtml: <p>Check out our explanation of the difference between these three items in <a class="highlight" href="http://www.talkingoranges.com/everything-you-wanted-to-know-about-websites-the-basics-with-pictures/" target="blank">this post</a> on our blog, Talking Oranges.</p>
---