---
layout: faq_layout.hbs
title: FAQ | What Is Pay-Per-Click Advertising?
faqCategory: branding
answerNumber: 6
answerHtml: <p>Pay-per-click advertising, such as <a class="highlight" href="/help-i-need-to-make-my-business-easier-to-find-online.html#answer">Google AdWords</a>, is a form of search engine marketing (SEM). As the name suggests, you pay when Internet users click on your ad, rather than when your ad is displayed.</p>
---