---
layout: faq_layout.hbs
faqCategory: about-branding
answerNumber: 1
answerHtml: <p>Branding is the process of developing an emotional connection between the name of a product or service and the intended audience, in a way that is cohesive, creative, and consistent. Branding goes beyond logos, though a good logo can be an important starting place. For branding analysis, tips, and even fun comics, visit our blog, <a href="http://www.talkingoranges.com/" target="blank">Talking Oranges</a>.</p>
---