---
layout: faq_layout.hbs
faqCategory: about-oranges
answerNumber: 1
answerHtml: <p><a href="http://www.talkingoranges.com/" target="blank">Talking Oranges</a> is your source for the juiciest branding banter online! In other words, it's our company blog, where we talk about all things branding, tech, and social media related. Because we think branding lessons and strategies can be transferred between industries, we look at branding successes and flops from all over. We also offer tips and monthly comic strips!</p>
---