---
layout: faq_layout.hbs
faqCategory: about-branding
answerNumber: 5
answerHtml: <p>SEO, or search engine optimization, is the process of optimizing your website so that it is found easily by search engines and thus by users in unpaid, organic (or "natural") search results. SEM, or search engine marketing, is paid advertising that appears next to or above unpaid search results. SEO tends to require more technical expertise and produce results much more slowly, but with SEM, you must pay for the traffic to your website that results from your advertisements. Ultimately the goal of both SEO and SEM is to promote online traffic and increase brand awareness. We recommend that our clients use both SEO and SEM strategies.</p>
---