---
layout: faq_layout.hbs
faqCategory: about-oranges
answerNumber: 2
answerHtml: <p>They're bright, fresh, and full of citrusy delight. Their round shapes lend themselves well to faces and personalities, and their color makes us happy and gives us energy. Also, we just like oranges.</p>
---