---
layout: about_layout.hbs
pageTitle: Work With Us
header:
    title: Work With Us
    bannerName: work-with-us
---
<section class="jobs-section">
    <header class="jobs-section__header">
        <h1>Open Positions</h1>
        <p>
            Like a little orange with your branding? Come work with us. Check out the available positions below, or tell
            us how you could contribute at <a href="mailto:info@ignitebrandgroup.com">info@ignitebrandgroup.com</a>.
        </p>
    </header>
    <ul class="jobs-section__list">
        {{#each jobs}}
            <li class="jobs-section__job">
                <h3 class="jobs-section__job-title"><a href="/jobs/{{@key}}.html">{{title}}</a></h3>
                <p class="jobs-section__job-description">{{capitalizeEach commitment}}, {{location}}</p>
            </li>
        {{/each}}
    </ul>
</section>