---
layout: standard_layout.hbs
pageTitle: Contact Us
---

<div class="contact-us-content">
    <header class="contact-us-header">
        <h1>Contact Us</h1>
        <p>
            Got a question about branding or thinking about working with us? Contact us for a consultation. We'd love to help.
        </p>
    </header>

    <div class="contact-us-banner">
        <img src="/images/banner-contact-us.jpg">
        <div class="contact-us-banner-inset">
            <h3>Our Office</h3>
            <address>
                <p>
                    Ignite Brand Group, LLC<br/>
                    1375 Broadway, 11th Fl<br/>
                    New York, NY 10018
                </p>
                <p>
                    Tel: <a href="tel:+16462376931">646.237.6931</a><br/>
                    Email: <a href="mailto:info@ignitebrandgroup.com">info@ignitebrandgroup.com</a><br/>
                    Directions: <a href="https://maps.google.com/maps?q=1375+Broadway,+New+York,+NY&hl=en&sll=40.697488,-73.979681&sspn=1.128636,1.005249&oq=1375&hnear=1375+Broadway,+New+York,+10018&t=m&z=17" target="blank">Google Maps</a>
                </p>
            </address>
        </div>
        <nav class="contact-us-banner-nav">
            <ul class="contact-us-banner-nav-tabs">
                <li class="contact-us-banner-nav-tab">
                    <a href="/http://www.linkedin.com/company/ignite-brand-group" target="blank" class="sprite sprite--contact sprite--linkedin-contact">LinkedIn</a>
                </li>
                <li>
                    <a href="/https://twitter.com/ignitebrand" target="blank" class="sprite sprite--contact sprite--twitter-contact">Twitter</a>
                </li>
                <li>
                    <a href="/http://www.youtube.com/user/IgniteBrandGroup" target="blank" class="sprite sprite--contact sprite--youtube-contact">YouTube</a>
                </li>
                <li>
                    <a href="/https://www.facebook.com/IgniteBrandGroup" target="blank" class="sprite sprite--contact sprite--facebook-contact">Facebook</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<style>
    .contact-us-content {
        width: 1000px;
        margin: 0 auto;
    }
    .contact-us-header {
        width: 425px;
    }
    .contact-us-banner {
        position: relative;
    }
    .contact-us-banner-inset {
        width: 260px;
        position: absolute;
        bottom: 175px;
        left: 45px;
        background-color: white;
        padding: 20px 20px;
    }
    .contact-us-banner-nav {
        position: absolute;
        bottom: 1px;
        left: 1px;
    }
    .contact-us-banner-nav-tabs {
        list-style: none;
        display: block;
    }
    .contact-us-banner-nav-tab {
        display: inline-block;
        margin-right: 10px;
    }
</style>