---
layout: standard_layout.hbs
pageTitle: Privacy Policy
---
<div class="privacy-policy-content">

    <h1>Privacy Policy</h1>
    <p class="privacy-policy-modified">
        <i>Updated as of December 13, 2013.</i>
    </p>
    <p>
        This Privacy Policy applies to the Ignite Brand Group website located at <a href="http://ignitebrandgroup.com/">www.ignitebrandgroup.com</a> ("Website").
    </p>
    <img src="/images/banner-privacy-policy.jpg" border="0" width="1000" height="500" alt="Privacy Policy - Ignite Brand Group"/>
    <div class="privacy-policy-details">
        <p>
            Browsing the Website does not require you to register for an account or provide any personal information to us.
        </p>
        <p>
            In general, Ignite will gather some generic information automatically. This generic information may include the Internet address assigned to your computer, the number and frequency of visitors and the webpages on our Website visited. Ignite gathers this information using Google Analytics for the purpose of determining customer service and Website needs. Generic information does not reveal the identity of the visitor.
        </p>
        <section>
            <header>
                <h3>User Communications</h3>
            </header>
            <p>
                When you send an email or other communication to Ignite, we may retain those communications in order to
                process your inquiries and respond to your requests. We do not sell your email address or other
                information you may provide to any third parties.
            </p>
        </section>
        <section>
            <header>
                <h3>Other Sites</h3>
            </header>
            <p>
                This Privacy Policy applies to this Website only. Our site may, from time to time, contain links to and
                from third party websites. If you follow a link to any of these web sites, please note that these
                websites have their own privacy policies and that we do not accept any responsibility or liability for
                these policies. Please check these policies before you submit any personal information to these web sites.
            </p>
        </section>
        <section>
            <header>
                <h3>Changes To This Policy</h3>
            </header>
        </section>
        <p>
            Any changes we make to our Privacy Policy in the future will be posted on this page. Each version of this
            Policy will be identified at the top of the page by its effective date. If you have questions or concerns
            about this Policy, please feel free to contact us through this <a href="contact-us.php.html">Website</a> or
            at Ignite Brand Group, LLC,
            <a href="https://maps.google.com/maps?q=1375+Broadway,+New+York,+NY&hl=en&sll=40.697488,-73.979681&sspn=1.128636,1.005249&oq=1375&hnear=1375+Broadway,+New+York,+10018&t=m&z=17" target="blank">1375 Broadway, 11th Fl, New York, NY 10018</a>.
        </p>
    </div>
</div>

<style>
    .privacy-policy-content {
        width: 1000px;
        margin: 0 auto;
    }
    .privacy-policy-modified {
        margin-bottom: 5px;
    }
    .privacy-policy-details {
        width: 650px;
    }
</style>