$total_columns: 	12!default;			// 				//
$total_width:		100%; 		// px|100% 		// px = fixed, 100% = fluid
$gutter_width:		1%!default;			// px|%			// px = fixed, % = fluid
$container_margin:	1%!default;			// auto|px|%	//

$class_container:	'row'!default;		//				//
$class_column:		'col'!default;		//				//
$class_push:		'push'!default;		//				//