.contact-form-section {
  background-color: #e7e7e4;
  padding-top: 15px;
  padding-bottom: 20px;
}
.contact-form {
  width: 736px;
  margin: 0 auto;
}
.contact-form__row {
  text-align: left;
  margin-bottom: 5px;
  &:last-of-type {
    margin-bottom: 15px;
  }
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}
.contact-form__left-col {
  width: 47%;
  float: left;
}
.contact-form__right-col {
  width: 47%;
  float: right;
}
.contact-form__label {
  font-family: 'gill sans', verdana;
  font-size: 19px;
  color: #F96503;
}
.contact-form__input {
  width: 100%;
}
.contact-form__input--textarea {
  height:90px;
}
.contact-form__submit {
  display: block;
  height: 40px;
  width: 90px;
  margin: 0 auto;
  padding: 0;
  border: 0;
}