.faq-content {
  width: 1000px;
  margin: 0 auto;
  /*padding-top: 20px;*/
}
.faq-header {
  margin-top: 22px;
  margin-bottom: 25px;
}
.faq-subheader:after {
  content: "";
  display: table;
  clear: both;
}
.faq-subheader__text {
  width: 475px;
  float: left;
}
.faq-subheader__img {
  width: 475px;
  height: 100px;
  float: right;
}
.faq-category {
  margin-bottom: 24px;
}
.faq-category:after {
  content: "";
  display: table;
  clear: both;
}
.faq-list {
  width: 300px;
  float: left;
}
.faq-arrow {
  float: left;
}
.faq-answer {
  width: 600px;
  float: left;
}
.faq-answer--branding {
  padding-top: 40px;
}
.faq-answer--services {
  padding-top: 25px;
}
.faq-answer--oranges {
  padding-top: 20px;
}
.faq-answer--other {
  padding-top: 25px;
}
.faq-answer-anchor {
  display: block;
//  padding-top: 100px;
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
}