.portfolio-content {
  width: 1000px;
  margin: 0 auto;
}
.simple-gallery {
  margin-bottom: 50px;
}
.project-details-header {
  margin-bottom: 20px;
}
.project-details-subsection:first-of-type {
  margin-bottom: 25px;
}
.project-details-subsection-header {
  display: inline-block;
  margin-left: 20px;
  width: 150px;
  vertical-align: top;
}
.project-details-subsection-points {
  display: inline-block;
  width: 650px;
  margin-left: 50px;
}
.client-nav {
  margin-bottom: 20px;
}
.client-nav:after {
  content: "";
  display: table;
  clear: both;
}
.client-link {
  font-size: 13px;
}
.client-link--previous {
  float: left;
}
.client-link--next {
  float: right;
}