$min-site-width: 1100px!default;

.site-header {
  background:#FFFFFF;
  color: #5F5B59;
  position:fixed;
  width:100%;
  height:100px;
  min-width: $min-site-width;
  margin:0 auto;
  z-index: 1000;
}
.site-header__inner {
  display: table;
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.site-logo {
  width: 22.2%;
  height: 100%;
  /*display: inline-block;*/

  /*width: 286px;*/
  vertical-align: middle;
  display: table-cell;
  margin: 0;
  padding: 0;
  position: relative;
  /*top: 50%;*/
  /*transform: translateY(-50%);*/

}
.site-nav {
  width: 77.8%;
  height: 100%;
  /*display: inline-block;*/

//  width: 1008px;
  vertical-align: middle;
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: right;
}
.site-nav__links {
  margin: 0;
}
.site-nav__link {
  display: inline-block;
  margin: 0;
  a {
    color: #5F5B59;
  }
}
//.site-nav__link a {
//}
.site-nav__link--text {
  margin-right: 16px;
}
.site-nav__link--icon {
  margin-right: 8px;
}
.site-nav__link:last-child {
  margin: 0;
}