@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\000033}}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: geneva, tahoma, 'trebuchet ms';
  font-size: 16px;
  color: #000000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000312}}
body {
  bgcolor: "#ffffff";
  min-width: 1100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000321}}
.homepage-content {
  background-image: url("../images/the-secret-garden-orange-edition.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000330}}
.simple-gallery {
  z-index: 100;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000334}}
.tagline {
  background-image: url("../images/orange.png");
  font-family: geneva, tahoma, 'trebuchet ms';
  color: #FFFFFF;
  font-size: 48px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000342}}
.who-we-are-banner {
  background-image: url("../images/banner-who-we-are.jpg");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000346}}
.what-we-do-banner {
  background-image: url("../images/banner-what-we-do.jpg");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000350}}
.how-we-work-banner {
  background-image: url("../images/banner-how-we-work.jpg");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000354}}
.contact-us-banner {
  background-image: url("../images/banner-contact-us.jpg");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000358}}
.form-input {
  height: 40px;
  width: 330px;
  vertical-align: middle;
  margin: 5px 0px 5px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000365}}
.form-input2 {
  height: 40px;
  width: 200px;
  vertical-align: middle;
  margin: 5px 0px 5px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000372}}
select {
  padding: 6px 0 0 0;
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000377}}
span {
  font-size: 19px;
  font-family: "gill sans", verdana;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000382}}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'gill sans', verdana;
  font-weight: normal;
  color: #000000;
}

/**PRIMARY TITLES IN ORANGE*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000391}}
h1 {
  font-size: 2.3em;
  color: #FF6900;
}

/**MENU BAR TITLES IN DARK GRAY*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000394}}
h2 {
  font-size: 0.8em;
  font-family: geneva, tahoma;
  color: #5f5b59;
}

/**SECONDARY TITLES IN ORANGE*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\0000397}}
h3 {
  font-size: 1.4em;
  color: #FF6900;
}

/**TERTIARY TITLES IN BLACK*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003100}}
h4 {
  font-size: 1.4em;
  color: #000000;
}

/**FOOTER TEXT IN DARK GRAY*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003103}}
h5 {
  font-size: 0.8em;
  color: #5f5b59;
}

/**PRIMARY TITLES IN WHITE*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003106}}
h6 {
  font-size: 4.0em;
  color: #FFFFFF;
}

/**HOME PAGE TITLES IN ORANGE*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003109}}
.homepage-title {
  font-size: 1.8em;
  color: #FF6900;
}

/**BODY TEXT IN DARK GRAY*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003112}}
p, ul, ol {
  font-size: 0.8em;
  color: #5f5b59;
  margin-top: 0;
  line-height: 190%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003114}}
li {
  color: #FF6900;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003115}}
span {
  color: #5f5b59;
}

/**HIGHLIGHTS LINKS IN ORANGE*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003118}}
a {
  text-decoration: none;
  color: #FF6900;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003119}}
a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003122}}
.form-search .input-append .search-query, .form-search .input-prepend .search-query {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003122}}
.form-search .input-append .search-query {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003122}}
.form-search .input-append .btn {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003122}}
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003122}}
.form-search .input-prepend .btn {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003122}}
.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003122}}
.form-search .hide, .form-inline .hide, .form-horizontal .hide {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003122}}
.form-search label, .form-inline label, .form-search .btn-group, .form-inline .btn-group {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003122}}
.form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003122}}
.form-search .radio, .form-search .checkbox, .form-inline .radio, .form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003124}}
.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"]
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003124}}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  color: #333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003124}}
.btn:active, .btn.active {
  background-color: #ccc \9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003124}}
.btn:first-child {
  *margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003124}}
.btn:hover, .btn:focus {
  color: #333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003124}}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003124}}
.btn.active, .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003126}}
.job {
  background-color: #e0e0df;
  font-family: geneva, tahoma;
  height: 800px;
  width: 260px;
  padding: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003134}}
.job-input {
  width: 260px;
  height: 45px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003138}}
.job-text-area {
  height: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003143}}
.form-header {
  color: #FF6900;
  font-size: 30px;
  font-family: 'gill sans', verdana;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003149}}
.overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_style-site\.scss}line{font-family:\00003156}}
.modal {
  display: none;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin: -100px 0 0 -150px;
  background: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_header\.scss}line{font-family:\000033}}
.site-header {
  background: #FFFFFF;
  color: #5F5B59;
  position: fixed;
  width: 100%;
  height: 100px;
  min-width: 1100px;
  margin: 0 auto;
  z-index: 1000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_header\.scss}line{font-family:\0000313}}
.site-header__inner {
  display: table;
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_header\.scss}line{font-family:\0000320}}
.site-logo {
  width: 22.2%;
  height: 100%;
  /*display: inline-block;*/
  /*width: 286px;*/
  vertical-align: middle;
  display: table-cell;
  margin: 0;
  padding: 0;
  position: relative;
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_header\.scss}line{font-family:\0000335}}
.site-nav {
  width: 77.8%;
  height: 100%;
  /*display: inline-block;*/
  vertical-align: middle;
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_header\.scss}line{font-family:\0000347}}
.site-nav__links {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_header\.scss}line{font-family:\0000350}}
.site-nav__link {
  display: inline-block;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_header\.scss}line{font-family:\0000353}}
.site-nav__link a {
  color: #5F5B59;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_header\.scss}line{font-family:\0000359}}
.site-nav__link--text {
  margin-right: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_header\.scss}line{font-family:\0000362}}
.site-nav__link--icon {
  margin-right: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_header\.scss}line{font-family:\0000365}}
.site-nav__link:last-child {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_footer\.scss}line{font-family:\000038}}
.site-footer {
  background-color: white;
  color: #5a5859;
  font-family: "gill sans", verdana;
  /*display: table;*/
  height: 100px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_footer\.scss}line{font-family:\0000316}}
.site-footer-content {
  height: 100%;
  width: 1000px;
  margin: 0 auto;
  display: table;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_footer\.scss}line{font-family:\0000322}}
.site-footer-content__row {
  display: table-cell;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_footer\.scss}line{font-family:\0000326}}
.site-footer-text {
  color: #5a5859;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_footer\.scss}line{font-family:\0000329}}
.site-footer-text > a {
  color: #5a5859;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_footer\.scss}line{font-family:\0000333}}
.site-footer-text--block1 {
  width: 555px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_footer\.scss}line{font-family:\0000336}}
.site-footer-text--block2 {
  width: 335px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_site_footer\.scss}line{font-family:\0000339}}
.site-footer-text--block3 {
  width: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_contact_form\.scss}line{font-family:\000031}}
.contact-form-section {
  background-color: #e7e7e4;
  padding-top: 15px;
  padding-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_contact_form\.scss}line{font-family:\000036}}
.contact-form {
  width: 736px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_contact_form\.scss}line{font-family:\0000310}}
.contact-form__row {
  text-align: left;
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_contact_form\.scss}line{font-family:\0000313}}
.contact-form__row:last-of-type {
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_contact_form\.scss}line{font-family:\0000316}}
.contact-form__row:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_contact_form\.scss}line{font-family:\0000322}}
.contact-form__left-col {
  width: 47%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_contact_form\.scss}line{font-family:\0000326}}
.contact-form__right-col {
  width: 47%;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_contact_form\.scss}line{font-family:\0000330}}
.contact-form__label {
  font-family: 'gill sans', verdana;
  font-size: 19px;
  color: #F96503;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_contact_form\.scss}line{font-family:\0000335}}
.contact-form__input {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_contact_form\.scss}line{font-family:\0000338}}
.contact-form__input--textarea {
  height: 90px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_contact_form\.scss}line{font-family:\0000341}}
.contact-form__submit {
  display: block;
  height: 40px;
  width: 90px;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\000031}}
.row.input .column, .row.input .columns {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\000035}}
.row .row.input {
  margin: 0 -15px;
  max-width: 100%;
  min-width: 783px;
  width: auto;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000312}}
.column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000319}}
.ten, .row .ten {
  width: 83.3333%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000322}}
.eight, .row .eight {
  width: 66.66668%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000325}}
.seven, .row .seven {
  width: 58.333345%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000328}}
.five, .row .five {
  width: 41.666675%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000331}}
.two, .row .two {
  width: 16.66667%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000334}}
.one, .row .one {
  width: 8.33335%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000338}}
.four, .row .four {
  width: 33.3334;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000341}}
.six, .row .six {
  width: 50.0000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000346}}
.full-width, .row .full-width {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000350}}
.srch_button, .next-button {
  background: none repeat scroll 0 0 #333333;
  border: 1px solid #0D0D0D;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 1px 0 rgba(68, 68, 68, 0.5) inset;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  line-height: 1;
  margin: 0;
  padding-top: 8px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  right: 2px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out 0s;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000375}}
.next-button {
  float: right;
  height: 35px;
  width: 80px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000381}}
input[type="text"] {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 14px;
  height: 32px;
  margin: 0 0 12px;
  padding: 6px;
  transition: all 0.15s linear 0s;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\0000397}}
* {
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\00003101}}
#search-modal, .search-paging {
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: right;
  width: 100%;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/search\.scss}line{font-family:\00003109}}
.popup {
  margin-top: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\000032}}
.sprite,
.icon {
  line-height: 1;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  /**
   * So using `.icon` on certain elements doesn’t make a visual difference.
   */
  font-style: normal;
  font-weight: normal;
  /**
   * So icons added using `.icon` sit in the centre of the element.
   */
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000317}}
.sprite {
  /**
   * The typical size of most icons. Override in your theme stylesheet.
   */
  top: -1px;
  /*
   * H5BP method image replacement:
   * github.com/h5bp/html5-boilerplate/commit/adecc5da035d6d76b77e3fa95c6abde841073da2
   */
  overflow: hidden;
  *text-indent: -9999px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000332}}
.sprite:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000340}}
.sprite--logo {
  display: inline-block;
  width: 169px;
  height: 50px;
  background-image: url("../images/icons/logo/logo.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000345}}
.sprite--logo:hover {
  background-image: url("../images/icons/logo/logo-hover.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000350}}
.sprite--navbar {
  display: inline-block;
  width: 25px;
  height: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000358}}
.sprite--search-nav {
  background-image: url("../images/icons/search/search-navbar.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000360}}
.sprite--search-nav:hover {
  background-image: url("../images/icons/search/search-hover-navbar.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000358}}
.sprite--insidestartups-nav {
  background-image: url("../images/icons/insidestartups/insidestartups-navbar.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000360}}
.sprite--insidestartups-nav:hover {
  background-image: url("../images/icons/insidestartups/insidestartups-hover-navbar.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000358}}
.sprite--linkedin-nav {
  background-image: url("../images/icons/linkedin/linkedin-navbar.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000360}}
.sprite--linkedin-nav:hover {
  background-image: url("../images/icons/linkedin/linkedin-hover-navbar.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000358}}
.sprite--twitter-nav {
  background-image: url("../images/icons/twitter/twitter-navbar.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000360}}
.sprite--twitter-nav:hover {
  background-image: url("../images/icons/twitter/twitter-hover-navbar.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000358}}
.sprite--youtube-nav {
  background-image: url("../images/icons/youtube/youtube-navbar.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000360}}
.sprite--youtube-nav:hover {
  background-image: url("../images/icons/youtube/youtube-hover-navbar.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000358}}
.sprite--facebook-nav {
  background-image: url("../images/icons/facebook/facebook-navbar.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000360}}
.sprite--facebook-nav:hover {
  background-image: url("../images/icons/facebook/facebook-hover-navbar.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000366}}
.sprite--contact {
  display: inline-block;
  width: 40px;
  height: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000374}}
.sprite--linkedin-contact {
  background-image: url("../images/icons/linkedin/linkedin-contact.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000376}}
.sprite--linkedin-contact:hover {
  background-image: url("../images/icons/linkedin/linkedin-hover-contact.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000374}}
.sprite--twitter-contact {
  background-image: url("../images/icons/twitter/twitter-contact.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000376}}
.sprite--twitter-contact:hover {
  background-image: url("../images/icons/twitter/twitter-hover-contact.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000374}}
.sprite--youtube-contact {
  background-image: url("../images/icons/youtube/youtube-contact.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000376}}
.sprite--youtube-contact:hover {
  background-image: url("../images/icons/youtube/youtube-hover-contact.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000374}}
.sprite--facebook-contact {
  background-image: url("../images/icons/facebook/facebook-contact.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000376}}
.sprite--facebook-contact:hover {
  background-image: url("../images/icons/facebook/facebook-hover-contact.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000382}}
.sprite--home {
  display: inline-block;
  width: 137px;
  height: 137px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000390}}
.sprite--portfolio-home {
  background-image: url("../images/icons/portfolio/portfolio-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000392}}
.sprite--portfolio-home:hover {
  background-image: url("../images/icons/portfolio/portfolio-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000390}}
.sprite--services-home {
  background-image: url("../images/icons/services/services-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000392}}
.sprite--services-home:hover {
  background-image: url("../images/icons/services/services-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000390}}
.sprite--oranges-home {
  background-image: url("../images/icons/oranges/oranges-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000392}}
.sprite--oranges-home:hover {
  background-image: url("../images/icons/oranges/oranges-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\0000398}}
.sprite--tabs {
  display: block;
  float: right;
  width: 129px;
  height: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003107}}
.sprite--work-with-us-tab {
  background-image: url("../images/icons/tabs/work-with-us/work-with-us.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003109}}
.sprite--work-with-us-tab:hover {
  background-image: url("../images/icons/tabs/work-with-us/work-with-us-hover.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003107}}
.sprite--what-we-believe-tab {
  background-image: url("../images/icons/tabs/what-we-believe/what-we-believe.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003109}}
.sprite--what-we-believe-tab:hover {
  background-image: url("../images/icons/tabs/what-we-believe/what-we-believe-hover.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003107}}
.sprite--why-we-work-tab {
  background-image: url("../images/icons/tabs/why-we-work/why-we-work.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003109}}
.sprite--why-we-work-tab:hover {
  background-image: url("../images/icons/tabs/why-we-work/why-we-work-hover.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003107}}
.sprite--who-we-are-tab {
  background-image: url("../images/icons/tabs/who-we-are/who-we-are.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003109}}
.sprite--who-we-are-tab:hover {
  background-image: url("../images/icons/tabs/who-we-are/who-we-are-hover.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003107}}
.sprite--portfolio-tab {
  background-image: url("../images/icons/tabs/portfolio/portfolio.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003109}}
.sprite--portfolio-tab:hover {
  background-image: url("../images/icons/tabs/portfolio/portfolio-hover.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003107}}
.sprite--how-we-work-tab {
  background-image: url("../images/icons/tabs/how-we-work/how-we-work.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003109}}
.sprite--how-we-work-tab:hover {
  background-image: url("../images/icons/tabs/how-we-work/how-we-work-hover.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003107}}
.sprite--what-we-do-tab {
  background-image: url("../images/icons/tabs/what-we-do/what-we-do.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003109}}
.sprite--what-we-do-tab:hover {
  background-image: url("../images/icons/tabs/what-we-do/what-we-do-hover.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003115}}
.sprite--company-logos {
  display: inline-block;
  width: 300px;
  height: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003124}}
.sprite--aac-logo {
  background-image: url("../images/icons/companies/aac/aac-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003126}}
.sprite--aac-logo:hover {
  background-image: url("../images/icons/companies/aac/aac-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003124}}
.sprite--alma-logo {
  background-image: url("../images/icons/companies/alma/alma-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003126}}
.sprite--alma-logo:hover {
  background-image: url("../images/icons/companies/alma/alma-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003124}}
.sprite--bvc-logo {
  background-image: url("../images/icons/companies/bvc/bvc-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003126}}
.sprite--bvc-logo:hover {
  background-image: url("../images/icons/companies/bvc/bvc-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003124}}
.sprite--cigs-logo {
  background-image: url("../images/icons/companies/cigs/cigs-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003126}}
.sprite--cigs-logo:hover {
  background-image: url("../images/icons/companies/cigs/cigs-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003124}}
.sprite--fmc-logo {
  background-image: url("../images/icons/companies/fmc/fmc-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003126}}
.sprite--fmc-logo:hover {
  background-image: url("../images/icons/companies/fmc/fmc-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003124}}
.sprite--fvc-logo {
  background-image: url("../images/icons/companies/fvc/fvc-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003126}}
.sprite--fvc-logo:hover {
  background-image: url("../images/icons/companies/fvc/fvc-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003124}}
.sprite--isa-logo {
  background-image: url("../images/icons/companies/isa/isa-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003126}}
.sprite--isa-logo:hover {
  background-image: url("../images/icons/companies/isa/isa-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003124}}
.sprite--lvg-logo {
  background-image: url("../images/icons/companies/lvg/lvg-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003126}}
.sprite--lvg-logo:hover {
  background-image: url("../images/icons/companies/lvg/lvg-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003124}}
.sprite--sld-logo {
  background-image: url("../images/icons/companies/sld/sld-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003126}}
.sprite--sld-logo:hover {
  background-image: url("../images/icons/companies/sld/sld-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003124}}
.sprite--vbl-logo {
  background-image: url("../images/icons/companies/vbl/vbl-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003126}}
.sprite--vbl-logo:hover {
  background-image: url("../images/icons/companies/vbl/vbl-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003124}}
.sprite--vva-logo {
  background-image: url("../images/icons/companies/vva/vva-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003126}}
.sprite--vva-logo:hover {
  background-image: url("../images/icons/companies/vva/vva-hover-icon.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003124}}
.sprite--wpvv-logo {
  background-image: url("../images/icons/companies/wpvv/wpvv-icon.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Morgan\/Desktop\/development\/websites\/Ignite\/ignite-brand-group\/src\/styles\/_sprites\.scss}line{font-family:\00003126}}
.sprite--wpvv-logo:hover {
  background-image: url("../images/icons/companies/wpvv/wpvv-hover-icon.png");
}
