@charset "UTF-8";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: geneva, tahoma, 'trebuchet ms';
  font-size: 16px;
  color: #000000;
}

body {
  bgcolor: "#ffffff";
  leftmargin: 0;
  topmargin: 0;
  marginwidth: 0;
  marginheight: 0;
}

.homepage-content {
  background-image: url("../images/the-secret-garden-orange-edition.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.simple-gallery {
  z-index: 100;
}

.tagline {
  background-image: url("../images/orange.png");
  font-family: geneva, tahoma, 'trebuchet ms';
  color: #FFFFFF;
  font-size: 48px;
}

.who-we-are-banner {
  background-image: url("../images/banner-who-we-are.jpg");
}

.what-we-do-banner {
  background-image: url("../images/banner-what-we-do.jpg");
}

.how-we-work-banner {
  background-image: url("../images/banner-how-we-work.jpg");
}

.contact-us-banner {
  background-image: url("../images/banner-contact-us.jpg");
}

.form-input {
  height: 40px;
  width: 330px;
  vertical-align: middle;
  margin: 5px 0px 5px 0px;
}

.form-input2 {
  height: 40px;
  width: 200px;
  vertical-align: middle;
  margin: 5px 0px 5px 0px;
}

select {
  padding: 6px 0 0 0;
  font-size: 16px;
}

span {
  font-size: 19px;
  font-family: "gill sans", verdana;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'gill sans', verdana;
  font-weight: normal;
  color: #000000;
}

/**PRIMARY TITLES IN ORANGE*/
h1 {
  font-size: 2.3em;
  color: #FF6900;
}

/**MENU BAR TITLES IN DARK GRAY*/
h2 {
  font-size: 0.8em;
  font-family: geneva, tahoma;
  color: #5f5b59;
}

/**SECONDARY TITLES IN ORANGE*/
h3 {
  font-size: 1.4em;
  color: #FF6900;
}

/**TERTIARY TITLES IN BLACK*/
h4 {
  font-size: 1.4em;
  color: #000000;
}

/**FOOTER TEXT IN DARK GRAY*/
h5 {
  font-size: 0.8em;
  color: #5f5b59;
}

/**PRIMARY TITLES IN WHITE*/
h6 {
  font-size: 4.0em;
  color: #FFFFFF;
}

/**HOME PAGE TITLES IN ORANGE*/
.homepage-title {
  font-size: 1.8em;
  color: #FF6900;
}

/**BODY TEXT IN DARK GRAY*/
p, ul, ol {
  font-size: 0.8em;
  color: #5f5b59;
  margin-top: 0;
  line-height: 190%;
}

li {
  color: #FF6900;
}

span {
  color: #5f5b59;
}

/**HIGHLIGHTS LINKS IN ORANGE*/
a {
  text-decoration: none;
  color: #FF6900;
}

a:hover {
  text-decoration: underline;
}

.form-search .input-append .search-query, .form-search .input-prepend .search-query {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.form-search .input-append .search-query {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}

.form-search .input-append .btn {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}

.form-search .input-prepend .search-query {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}

.form-search .input-prepend .btn {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}

.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}

.form-search .hide, .form-inline .hide, .form-horizontal .hide {
  display: none;
}

.form-search label, .form-inline label, .form-search .btn-group, .form-inline .btn-group {
  display: inline-block;
}

.form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend {
  margin-bottom: 0;
}

.form-search .radio, .form-search .checkbox, .form-inline .radio, .form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"]
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, white, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  color: #333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active, .btn.active {
  background-color: #ccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover, .btn:focus {
  color: #333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active, .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.job {
  background-color: #e0e0df;
  font-family: geneva, tahoma;
  height: 800px;
  width: 260px;
  padding: 20px;
}

.job-input {
  width: 260px;
  height: 45px;
}

.job-text-area {
  height: 50px;
}

.form-header {
  color: #FF6900;
  font-size: 30px;
  font-family: 'gill sans', verdana;
}

.overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  display: none;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin: -100px 0 0 -150px;
  background: #fff;
}

.header {
  background: #FFFFFF;
  position: fixed;
  width: 100%;
  height: 100px;
  margin: 0px auto;
  z-index: 1000;
}

.logo {
  float: left;
}

.row.input .column, .row.input .columns {
  padding: 0;
}

.row .row.input {
  margin: 0 -15px;
  max-width: 100%;
  min-width: 783px;
  width: auto;
  margin: 0;
}

.column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}

.ten, .row .ten {
  width: 83.3333%;
}

.eight, .row .eight {
  width: 66.66668%;
}

.seven, .row .seven {
  width: 58.333345%;
}

.five, .row .five {
  width: 41.666675%;
}

.two, .row .two {
  width: 16.66667%;
}

.one, .row .one {
  width: 8.33335%;
}

.four, .row .four {
  width: 33.3334;
}

.six, .row .six {
  width: 50.0000;
}

.full-width, .row .full-width {
  width: 100%;
}

.srch_button, .next-button {
  background: none repeat scroll 0 0 #333333;
  border: 1px solid #0D0D0D;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 1px 0 rgba(68, 68, 68, 0.5) inset;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  line-height: 1;
  margin: 0;
  padding-top: 8px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  right: 2px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out 0s;
  width: auto;
}

.next-button {
  float: right;
  height: 35px;
  width: 80px;
}

input[type="text"] {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 14px;
  height: 32px;
  margin: 0 0 12px;
  padding: 6px;
  transition: all 0.15s linear 0s;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#search-modal, .search-paging {
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: right;
  width: 100%;
  float: right;
}

.sprite,
.icon {
  line-height: 1;
  position: relative;
  vertical-align: middle;
  zoom: 1;
  /**
   * So using `.icon` on certain elements doesn’t make a visual difference.
   */
  font-style: normal;
  font-weight: normal;
  /**
   * So icons added using `.icon` sit in the centre of the element.
   */
  text-align: center;
}

.sprite {
  /**
   * The typical size of most icons. Override in your theme stylesheet.
   */
  top: -1px;
  /*
   * H5BP method image replacement:
   * github.com/h5bp/html5-boilerplate/commit/adecc5da035d6d76b77e3fa95c6abde841073da2
   */
  overflow: hidden;
  *text-indent: -9999px;
}
.sprite:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

.sprite--logo {
  display: inline-block;
  width: 169px;
  height: 50px;
  background-image: url("../images/icons/logo/logo.png");
}
.sprite--logo:hover {
  background-image: url("../images/icons/logo/logo-hover.png");
}

.sprite--navbar {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.sprite--search-nav {
  background-image: url("../images/icons/search/search-navbar.png");
}
.sprite--search-nav:hover {
  background-image: url("../images/icons/search/search-hover-navbar.png");
}

.sprite--insidestartups-nav {
  background-image: url("../images/icons/insidestartups/insidestartups-navbar.png");
}
.sprite--insidestartups-nav:hover {
  background-image: url("../images/icons/insidestartups/insidestartups-hover-navbar.png");
}

.sprite--linkedin-nav {
  background-image: url("../images/icons/linkedin/linkedin-navbar.png");
}
.sprite--linkedin-nav:hover {
  background-image: url("../images/icons/linkedin/linkedin-hover-navbar.png");
}

.sprite--twitter-nav {
  background-image: url("../images/icons/twitter/twitter-navbar.png");
}
.sprite--twitter-nav:hover {
  background-image: url("../images/icons/twitter/twitter-hover-navbar.png");
}

.sprite--youtube-nav {
  background-image: url("../images/icons/youtube/youtube-navbar.png");
}
.sprite--youtube-nav:hover {
  background-image: url("../images/icons/youtube/youtube-hover-navbar.png");
}

.sprite--facebook-nav {
  background-image: url("../images/icons/facebook/facebook-navbar.png");
}
.sprite--facebook-nav:hover {
  background-image: url("../images/icons/facebook/facebook-hover-navbar.png");
}

.sprite--contact {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.sprite--linkedin-contact {
  background-image: url("../images/icons/linkedin/linkedin-contact.png");
}
.sprite--linkedin-contact:hover {
  background-image: url("../images/icons/linkedin/linkedin-hover-contact.png");
}

.sprite--twitter-contact {
  background-image: url("../images/icons/twitter/twitter-contact.png");
}
.sprite--twitter-contact:hover {
  background-image: url("../images/icons/twitter/twitter-hover-contact.png");
}

.sprite--youtube-contact {
  background-image: url("../images/icons/youtube/youtube-contact.png");
}
.sprite--youtube-contact:hover {
  background-image: url("../images/icons/youtube/youtube-hover-contact.png");
}

.sprite--facebook-contact {
  background-image: url("../images/icons/facebook/facebook-contact.png");
}
.sprite--facebook-contact:hover {
  background-image: url("../images/icons/facebook/facebook-hover-contact.png");
}

.sprite--home {
  display: inline-block;
  width: 137px;
  height: 137px;
}

.sprite--portfolio-home {
  background-image: url("../images/icons/portfolio/portfolio-icon.png");
}
.sprite--portfolio-home:hover {
  background-image: url("../images/icons/portfolio/portfolio-hover-icon.png");
}

.sprite--services-home {
  background-image: url("../images/icons/services/services-icon.png");
}
.sprite--services-home:hover {
  background-image: url("../images/icons/services/services-hover-icon.png");
}

.sprite--oranges-home {
  background-image: url("../images/icons/oranges/oranges-icon.png");
}
.sprite--oranges-home:hover {
  background-image: url("../images/icons/oranges/oranges-hover-icon.png");
}

.sprite--tabs {
  display: block;
  float: right;
  width: 129px;
  height: 30px;
}

.sprite--work-with-us-tab {
  background-image: url("../images/icons/tabs/work-with-us/work-with-us.png");
}
.sprite--work-with-us-tab:hover {
  background-image: url("../images/icons/tabs/work-with-us/work-with-us-hover.png");
}

.sprite--what-we-believe-tab {
  background-image: url("../images/icons/tabs/what-we-believe/what-we-believe.png");
}
.sprite--what-we-believe-tab:hover {
  background-image: url("../images/icons/tabs/what-we-believe/what-we-believe-hover.png");
}

.sprite--why-we-work-tab {
  background-image: url("../images/icons/tabs/why-we-work/why-we-work.png");
}
.sprite--why-we-work-tab:hover {
  background-image: url("../images/icons/tabs/why-we-work/why-we-work-hover.png");
}

.sprite--who-we-are-tab {
  background-image: url("../images/icons/tabs/who-we-are/who-we-are.png");
}
.sprite--who-we-are-tab:hover {
  background-image: url("../images/icons/tabs/who-we-are/who-we-are-hover.png");
}

.sprite--portfolio-tab {
  background-image: url("../images/icons/tabs/portfolio/portfolio.png");
}
.sprite--portfolio-tab:hover {
  background-image: url("../images/icons/tabs/portfolio/portfolio-hover.png");
}

.sprite--how-we-work-tab {
  background-image: url("../images/icons/tabs/how-we-work/how-we-work.png");
}
.sprite--how-we-work-tab:hover {
  background-image: url("../images/icons/tabs/how-we-work/how-we-work-hover.png");
}

.sprite--what-we-do-tab {
  background-image: url("../images/icons/tabs/what-we-do/what-we-do.png");
}
.sprite--what-we-do-tab:hover {
  background-image: url("../images/icons/tabs/what-we-do/what-we-do-hover.png");
}

.sprite--company-logos {
  display: inline-block;
  width: 300px;
  height: 200px;
}

.sprite--aac-logo {
  background-image: url("../images/icons/companies/aac/aac-icon.png");
}
.sprite--aac-logo:hover {
  background-image: url("../images/icons/companies/aac/aac-hover-icon.png");
}

.sprite--alma-logo {
  background-image: url("../images/icons/companies/alma/alma-icon.png");
}
.sprite--alma-logo:hover {
  background-image: url("../images/icons/companies/alma/alma-hover-icon.png");
}

.sprite--bvc-logo {
  background-image: url("../images/icons/companies/bvc/bvc-icon.png");
}
.sprite--bvc-logo:hover {
  background-image: url("../images/icons/companies/bvc/bvc-hover-icon.png");
}

.sprite--cigs-logo {
  background-image: url("../images/icons/companies/cigs/cigs-icon.png");
}
.sprite--cigs-logo:hover {
  background-image: url("../images/icons/companies/cigs/cigs-hover-icon.png");
}

.sprite--fmc-logo {
  background-image: url("../images/icons/companies/fmc/fmc-icon.png");
}
.sprite--fmc-logo:hover {
  background-image: url("../images/icons/companies/fmc/fmc-hover-icon.png");
}

.sprite--fvc-logo {
  background-image: url("../images/icons/companies/fvc/fvc-icon.png");
}
.sprite--fvc-logo:hover {
  background-image: url("../images/icons/companies/fvc/fvc-hover-icon.png");
}

.sprite--isa-logo {
  background-image: url("../images/icons/companies/isa/isa-icon.png");
}
.sprite--isa-logo:hover {
  background-image: url("../images/icons/companies/isa/isa-hover-icon.png");
}

.sprite--lvg-logo {
  background-image: url("../images/icons/companies/lvg/lvg-icon.png");
}
.sprite--lvg-logo:hover {
  background-image: url("../images/icons/companies/lvg/lvg-hover-icon.png");
}

.sprite--sld-logo {
  background-image: url("../images/icons/companies/sld/sld-icon.png");
}
.sprite--sld-logo:hover {
  background-image: url("../images/icons/companies/sld/sld-hover-icon.png");
}

.sprite--vbl-logo {
  background-image: url("../images/icons/companies/vbl/vbl-icon.png");
}
.sprite--vbl-logo:hover {
  background-image: url("../images/icons/companies/vbl/vbl-hover-icon.png");
}

.sprite--vva-logo {
  background-image: url("../images/icons/companies/vva/vva-icon.png");
}
.sprite--vva-logo:hover {
  background-image: url("../images/icons/companies/vva/vva-hover-icon.png");
}

.sprite--wpvv-logo {
  background-image: url("../images/icons/companies/wpvv/wpvv-icon.png");
}
.sprite--wpvv-logo:hover {
  background-image: url("../images/icons/companies/wpvv/wpvv-hover-icon.png");
}
