---
layout: faq_layout.hbs
pageTitle: FAQ | What Is an Avatar?
faqCategory: branding
answerNumber: 2
answerHtml: <p>An avatar, sometimes called a profile picture, is an image or icon that you select to represent yourself for your social media accounts. Usually it is a small square. In today's Internet-dominated world, it's important to consider how well your <a class="highlight" href="help-i-need-a-logo.php.html#answer">logo</a> might work as an avatar, since that might be the only visual representation of your identity allowed in some instances.</p>
---