---
layout: standard_layout.hbs
pageTitle: Porfolio
---
<table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0">

    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="left" valign="top">
            <br/>
            <h1>Portfolio</h1>

            {{> servicesTabs }}
            <br/><br/>

            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="300" align="left" valign="top">
                    <p>Videos, mobile apps, websites, logo design - we do it all. We work with medical, legal, and other professional service providers, mostly in the Northeast but also in other parts of the country. Explore some of the work we've done for our clients below.</p>
                </td>

                <td width="50"></td>

                <td width="650" align="right" valign="top">
                    <img src="/images/portfolio-intro.png" border="0" width="650" height="140" alt=""/>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="top">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="300" align="left" valign="top">
                    <a href="/services/portfolio/american-access-care-of-brooklyn.html" class="sprite sprite--company-logos sprite--aac-logo">American Access Care</a>
                </td>

                <td width="50"></td>

                <td width="300" align="left" valign="top">
                    <a href="/services/portfolio/lucas-venture-group.html" class="sprite sprite--company-logos sprite--lvg-logo"></a>
                </td>

                <td width="50"></td>

                <td width="300" align="left" valign="top">
                    <a href="/services/portfolio/african-malaria-leadership-alliance.html" class="sprite sprite--company-logos sprite--alma-logo"></a>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="top">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="300" align="left" valign="top">
                    <a href="/services/portfolio/vogel-bach-pc.html" class="sprite sprite--company-logos sprite--vbl-logo"></a>
                </td>

                <td width="50"></td>

                <td width="300" align="left" valign="top">
                    <a href="/services/portfolio/fresenius-vascular-care.html" class="sprite sprite--company-logos sprite--fvc-logo"></a>
                </td>

                <td width="50"></td>

                <td width="300" align="left" valign="top">
                    <a href="/services/portfolio/sarah-lucas-designs.html" class="sprite sprite--company-logos sprite--sld-logo"></a>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="top">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="300" align="left" valign="top">
                    <a href="/services/portfolio/baltimore-vascular-care.html" class="sprite sprite--company-logos sprite--bvc-logo"></a>
                </td>

                <td width="50"></td>

                <td width="300" align="left" valign="top">
                    <a href="/services/portfolio/fresenius-medical-care-north-america.html" class="sprite sprite--company-logos sprite--fmc-logo"></a>
                </td>

                <td width="50"></td>

                <td width="300" align="left" valign="top">
                    <a href="/services/portfolio/interboro-surgical-associates.html" class="sprite sprite--company-logos sprite--isa-logo"></a>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="top">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="300" align="left" valign="top">
                    <a href="/services/portfolio/connecticut-image-guided-surgery.html" class="sprite sprite--company-logos sprite--cigs-logo"></a>
                </td>

                <td width="50"></td>

                <td width="300" align="left" valign="top">
                    <a href="/services/portfolio/white-plains-vein-and-vascular.html" class="sprite sprite--company-logos sprite--wpvv-logo"></a>
                </td>

                <td width="50"></td>

                <td width="300" align="left" valign="top">
                    <a href="/services/portfolio/verrazano-vascular-associates.html" class="sprite sprite--company-logos sprite--vva-logo"></a>
                </td>


            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


</table>