---
layout: standard_layout.hbs
title: What We Believe
bgImage: banner-what-we-believe.jpg
---

<table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0">

    {{> about_header }}

    <tr width="1100">
        <td colspan="3" width="1100" height="25"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="650" align="left" valign="top">
                    <h1>Professional doesn't have to mean stodgy.</h1>
                    <p>Doctors and lawyers do great things for society that we couldn't do without. But that doesn't mean you have to fit yourself into the same mold as everyone else. Show a little flair and be memorable, in a good way.</p>
                </td>

                <td width="50"></td>

                <td width="300" align="center" valign="top">
                    <img src="/images/why-we-work-professional-doesnt-have-to-mean-stodgy.png" border="0" width="300" height="120" alt="Professional doesn't have to mean stodgy."/>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="650" align="left" valign="top">
                    <h1>Art and design are fun, serious, and useful. All at the same time.</h1>
                    <p>Our background in visual and verbal arts informs everything we do, whether it's designing a logo or fine-tuning brand voicing. But we don't rely on infrequent bolts of inspiration. Instead, we follow a structured, analytical approach to the creative process.</p>
                </td>

                <td width="50"></td>

                <td width="300" align="center" valign="top">
                    <img src="/images/why-we-work-art-and-design-are-fun-serious-and-useful.png" border="0" width="300" height="150" alt="Art and design are fun, serious, and useful. All at the same time."/>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="650" align="left" valign="top">
                    <h1>Adapt to change.</h1>
                    <p>Each client presents his or her own challenges. And as technology, law, and medicine change, so do branding, marketing, and advertising. We're always learning about different techniques and strategies and figuring out how to make them work for legal and medical practices.</p>
                </td>

                <td width="50"></td>

                <td width="300" align="center" valign="top">
                    <img src="/images/why-we-work-adapt-to-change.png" border="0" width="300" height="150" alt="Adapt to change."/>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


</table>