---
layout: standard_layout.hbs
title: About
bgImage: banner-what-we-believe.jpg
---

<table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0">

    <tr width="1100">
        <td width="50"></td>

        <td width="1000" height="500" align="left" valign="center">
            <br/>
            <h1>About</h1>

            {{> about_tabs }}
            <br/><br/>

            <table width="1000" height="500" align="center" valign="top" border="0" cellpadding="0" cellspacing="0" class="who-we-are-banner"><tr>

                <td width="50"></td>

                <td width="260" align="left" valign="center">
                    <table width="260" align="center" valign="top" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                        <tr>
                            <td colspan="3" width="260" height="20"></td>
                        </tr>

                        <tr>
                            <td width="20"></td>

                            <td width="220" align="left" valign="center">
                                <h1>Who We Are</h1>
                                <p>Ignite helps businesses look distinctive - specifically lawyers, doctors, and other professionals who think outside the box. Learn more about us by clicking on the tabs above.</p>
                            </td>

                            <td width="20"></td>
                        </tr>

                        <tr>
                            <td colspan="3" width="260" height="20"></td>
                        </tr>
                    </table>
                </td>

                <td width="740" align="right" valign="center"></td>

                <td width="50"></td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="25"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="475" align="left" valign="top">
                    <h1>Stand out from the crowd.</h1>
                    <p>You know you've got something special going, something that makes you different from the rest. But in today's crowded professional marketplace, it's tough to stand out. All the skill and experience in the world isn't worth a dime if no one can tell you apart from the next guy or gal. And in an Internet-steeped era, it's impossible to be found if you're not online.</p>
                </td>

                <td width="50"></td>

                <td width="475" align="center" valign="top">
                    <img src="/images/who-we-are-stand-out-from-the-crowd.png" border="0" width="475" height="150" alt="Stand out from the crowd."/>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="475" align="left" valign="top">
                    <h1>Distinguish yourself.</h1>
                    <p>That's where we step in. Ignite helps businesses look distinctive - specifically lawyers, doctors, and other professionals who think outside the box. We help you present your best self and make the human connection needed to get not just any old client, but the right client.
                        <br/><br/>
                        Our <a href="what-we-do.html">services</a> include logo and web design, video and image production, copy editing, pay-per-click advertising, social media management, and mobile apps. Oh, business cards and brochures, too. And that's just for starters.</p>
                </td>

                <td width="50"></td>

                <td width="475" align="center" valign="top">
                    <img src="/images/who-we-are-distinguish-yourself.png" border="0" width="475" height="230" alt="Distinguish yourself."/>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="475" align="left" valign="top">
                    <h1>Let us help.</h1>
                    <p>We're based in New York City, but have taken on projects from coast to coast. So <a href="contact-us.html">drop us a line</a>. Let's see what we can do together.</p>
                </td>

                <td width="50"></td>

                <td width="475" align="center" valign="top">
                    <img src="/images/who-we-are-let-us-help.png" border="0" width="475" height="200" alt="Let us help."/>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


</table>