---
layout: standard_layout.hbs
title: Why We Work
bgImage: banner-why-we-work.jpg
---

<table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0">

    {{> about_header }}

    <tr width="1100">
        <td colspan="3" width="1100" height="25"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="650" align="left" valign="top">
                    <h1>We believe in branding.</h1>
                    <p>People are visual, emotional creatures. Branding leverages that fact by building an emotional connection between your practice and potential clients or patients. Products industries have used branding for years as an integral thread through their sales, marketing, and public relations. Those concepts can be transferred to enhance business development for the legal, medical, and other professional service industries.</p>
                </td>

                <td width="50"></td>

                <td width="300" align="center" valign="top">
                    <img src="/images/why-we-work-we-believe-in-branding.png" border="0" width="300" height="170" alt="We believe in branding."/>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="650" align="left" valign="top">
                    <h1>We love the challenge of making a need into a want.</h1>
                    <p>Lots of people need legal and medical services, but don't want to seek them out or know who to seek them from. We help change that. We make the prospect of visiting your office something attractive, something to get excited about.</p>
                </td>

                <td width="50"></td>

                <td width="300" align="center" valign="top">
                    <img src="/images/why-we-work-we-love-the-challenge-of-making-a-need-into-a-want.png" border="0" width="300" height="150" alt="We love the challenge of making a need into a want."/>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="650" align="left" valign="top">
                    <h1>We want to help doctors and lawyers keep apace with societal changes.</h1>
                    <p>Medical and legal services are crucial to society. But the means of communication and technology change fast, so fast that heavily regulated and specialized industries like yours have a hard time catching up. We help you bridge the gap, so you can reach the patients and clients who need you, and so patients and clients can find the right doctors and lawyers for themselves.</p>
                </td>

                <td width="50"></td>

                <td width="300" align="center" valign="top">
                    <img src="/images/why-we-work-we-want-to-help-doctors-and-lawyers-keep-apace-with-societal-changes.png" border="0" width="300" height="180" alt="We want to help doctors and lawyers keep apace with societal changes."/>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="650" align="left" valign="top">
                    <h1>We want to help you revolutionize the practice of law or medicine.</h1>
                    <p>You want to do something different with your medical or legal practice. You want to change the game, make healthcare or law approachable and even enjoyable for the clients or patients you want to attract. We're here to support you and help you put your best face out there, because first impressions count and you only get one.</p>
                </td>

                <td width="50"></td>

                <td width="300" align="center" valign="top">
                    <img src="/images/why-we-work-we-want-to-help-you-revolutionize-the-practice-of-law-or-medicine.png" border="0" width="300" height="180" alt="We want to help you revolutionize the practice of law or medicine."/>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


</table>