---
layout: about_layout.hbs
title: Work With Us
header:
    title: Work With Us
    image: /images/banner-work-with-us.jpg
jobs:
-   title: Verbal Strategist
    description: Full-Time, New York, NY
    applicationLink: /
---
<section class="about-section">
    <div class="about-section-text">
        <header>
            <h1>Open Positions</h1>
        </header>
        <p>Like a little orange with your branding? Come work with us. Check out the available positions below, or tell us how you could contribute at <a class="highlight" href="mailto:info@ignitebrandgroup.com">info@ignitebrandgroup.com</a>.</p>
    </div>
    <ul>
        {{#each jobs}}
            <li>
                <h3><a href="{{applicationLink}}">{{title}}</a></h3>
                <p>{{description}}</p>
            </li>
        {{/each}}
    </ul>
</section>

<style>
    .about-section-text {
        display: inline-block;
    }
</style>