<section class="about-section">
    <div class="about-section-text about-section-text--{{sectionTextClass}}">
        <header>
            <h1>{{{title}}}</h1>
        </header>
        <p>{{{text}}}</p>
    </div>
    <img class="about-section-image" src="{{image}}">
</section>

<style>
    .about-section-text {
        display: inline-block;
    }
    .about-section-text--wide {
        width: 650px;
    }
    .about-section-text--narrow {
        width: 475px;
    }
    .about-section-image {
        display: inline-block;
    }
</style>