<tr width="1100">
    <td width="50"></td>

    <td width="1000" height="500" align="left" valign="center">
        <br/>
        <h1>{{ title }}</h1>

        {{> aboutTabs }}
        <br/><br/>

        <img src="/images/{{ bgImage }}" border="0" width="1000" height="500" alt="{{ title }} - Ignite Brand Group"/>
    </td>

    <td width="50"></td>
</tr>