<section class="about-section">
    <div class="about-section__text about-section__text--{{sectionTextClass}}">
        <header>
            <h1 class="about-section__title">{{{title}}}</h1>
        </header>
        <p>{{{text}}}</p>
    </div>
    <img class="about-section__image" src="{{image}}">
</section>