<form action="http://getsimpleform.com/messages?form_api_token={{simpleFormApiToken}}" method="post" enctype="multipart/form-data">
    <div id="job" class="job">
        <div class="form-header">Application Form</div>
        * Required Fields</br></br>
        <label>*Name:</label></br>
        <input type="text" name="name" class="job-input"/></br></br>
        <label>*Email:</label></br>
        <input type="text" name="email" class="job-input"/></br></br>
        <label>*Cover Letter (.pdf, .doc, .docx):</label></br>
        <input type="file" name="cover_letter" id="cover_letter" class="job-input"/></br></br>
        <label>*Résumé (.pdf, .doc, .docx):</label></br>
        <input type="file" name="resume" id="resume" class="job-input"/></br></br>
        <label>Portfolio Links:</label></br>
        <textarea name="portfolio_links" id="" cols="25" rows="5"></textarea></br></br>
        <button type="submit">
            <img src="/images/submit_application.png">
        </button>
    </div>
</form>