<section class="contact-form-section" id="form_table">
    <header>

    </header>
    {{!--<div style="display: table; margin: 0 auto; width: 1100px;">--}}

        {{!--<div style="display: table; width: 1000px; height: 450px; margin: 0 auto;">--}}

        <table width="1000" height="450" align="center" valign="top" border="0" cellpadding="0" cellspacing="0">

            <td width="100"></td>

            <td width="800" height="450" align="center" valign="middle">
                <h1>Like some orange with your branding?</h1>
                <p>Tell us what you need using the form below - or give us a call at 646.237.6931.</p>
                {{!--<form onsubmit="return false;" action="" method="post" id="contact-us" name="contact-us">--}}
                <form action="//forms.brace.io/{{contactEmail}}" method="post" id="contact-us" name="contact-us">
                    {{!--<input type="hidden" name="_next" value="/thanks.html" />--}}
                    {{!--<form action="http://getsimpleform.com/messages?form_api_token=5c357c1e133bd03e59eeb2cd912a4df2" method="post" id="contact-us" name="contact-us">--}}
                    <table width="736">
                        <tr>
                            <td>
                                <label class="contact-form__label">
                                    NAME*:
                                    {{!--</br>--}}
                                    <input type="text" class="form-input" name="name" id="name" />
                                </label>
                            </td>
                            <td style="width: 60px">&nbsp;</td>
                            <td>

                                <label class="contact-form__label">
                                    HOW CAN WE HELP?*:
                                </label>
                                </br>
                                <select name="help" class="form-input">
                                    <option value='I need a website.'>I need a website.</option>
                                    <option value='I need a logo.'>I need a logo.</option>
                                    <option value='I need a business name.'>I need a business name.</option>
                                    <option value='I need a photos.'>I need a photos.</option>
                                    <option value='I need a video.'>I need a video.</option>
                                    <option value='I need a copywriter'>I need a copywriter</option>
                                    <option value='I need to make my business easier to find online.'>I need to make my business easier to find online.</option>
                                    <option value='I need an online questionnaire/survey.'>I need an online questionnaire/survey.</option>
                                    <option value='I need an online appointment booking system.'>I need an online appointment booking system.</option>
                                    <option value='I need a mobile app.'>I need a mobile app.</option>
                                    <option value='I need a Google AdWords campaigns.'>I need a Google AdWords campaigns.</option>
                                    <option value="I'm a doctor and need to manage my online reputation.">I'm a doctor and need to manage my online reputation.</option>
                                    <option value='I need advice on my digital branding.'>I need advice on my digital branding.</option>
                                    <option value='I need paper collateral.'>I need paper collateral.</option>
                                    <option value='I need something else.'>I need something else.</option>
                                </select>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <label class="contact-form__label">EMAIL*:</label>
                                </br>
                                <input type="text" class="form-input" name="_replyto" id="email" />
                            </td>
                            <td style="width: 60px">&nbsp;</td>
                            <td>
                                <label class="contact-form__label">PHONE*:</label>
                                </br>
                                <input type="text" class="form-input" name="phone" id="phone" />
                            </td>
                        </tr>

                    </table>

                    <div class="contact-form__row">
                        <label for="contact-form-message" class="contact-form__label">MESSAGE:
                        <textarea id="contact-form-message" name="message" style="width: 730px; height:90px;"></textarea>
                        </label>
                    </div>

                    <button style="margin: 0 auto; padding: 0; border: 0; height: 40px; width: 90px;" type="submit">
                        <img src="/images/send.png"/>
                    </button>

                </form>

            </td>

            <td width="100"></td>
        </table>
    {{!--</div>--}}
</section>

<style>
    .contact-form-section {
        display: table;
        background-color: #e7e7e4;
        width: 100%;
    }
    .contact-form__row {
        text-align: left;
        /*This should be 100% */
        width: 736px;
        margin-bottom: 25px;
    }
    .contact-form__label {
        color: #F96503;
        font-size: 19px;
        font-family: 'gill sans', verdana;
    }

</style>