<table width="100%" valign="top" border="0" cellpadding="0" cellspacing="0" bgcolor="#e7e7e4" id="form_table">
    <tr width="100%">
        <td width="100%">
            <table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>
                <td width="50"></td>

                <td width="1000" align="left" valign="center">
                    <table width="1000" height="450" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>
                        <td width="100"></td>

                        <td width="800" height="450" align="center" valign="middle">
                            <h1>Like some orange with your branding?</h1>
                            <p>Tell us what you need using the form below - or give us a call at 646.237.6931.</p>
                            {{!--<form onsubmit="return false;" action="" method="post" id="contact-us" name="contact-us">--}}
                            <form action="//forms.brace.io/{{contactEmail}}" method="post" id="contact-us" name="contact-us">
                                {{!--<input type="hidden" name="_next" value="/thanks.html" />--}}
                            {{!--<form action="http://getsimpleform.com/messages?form_api_token=5c357c1e133bd03e59eeb2cd912a4df2" method="post" id="contact-us" name="contact-us">--}}
                                <table>
                                    <tr>
                                        <td><span style="color: #F96503;">NAME*:</span></br><input type="text" class="form-input" name="name" id="name" /></td>
                                        <td style="width: 60px">&nbsp;</td>
                                        <td>
                                            <span style="color: #F96503;">HOW CAN WE HELP?*:</span>
                                            </br>
                                            <select name="help" class="form-input">
                                                <option value='I need a website.'>I need a website.</option>
                                                <option value='I need a logo.'>I need a logo.</option>
                                                <option value='I need a business name.'>I need a business name.</option>
                                                <option value='I need a photos.'>I need a photos.</option>
                                                <option value='I need a video.'>I need a video.</option>
                                                <option value='I need a copywriter'>I need a copywriter</option>
                                                <option value='I need to make my business easier to find online.'>I need to make my business easier to find online.</option>
                                                <option value='I need an online questionnaire/survey.'>I need an online questionnaire/survey.</option>
                                                <option value='I need an online appointment booking system.'>I need an online appointment booking system.</option>
                                                <option value='I need a mobile app.'>I need a mobile app.</option>
                                                <option value='I need a Google AdWords campaigns.'>I need a Google AdWords campaigns.</option>
                                                <option value="I'm a doctor and need to manage my online reputation.">I'm a doctor and need to manage my online reputation.</option>
                                                <option value='I need advice on my digital branding.'>I need advice on my digital branding.</option>
                                                <option value='I need paper collateral.'>I need paper collateral.</option>
                                                <option value='I need something else.'>I need something else.</option>
                                            </select>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td><span style="color: #F96503;">EMAIL*:</span></br><input type="text" class="form-input" name="_replyto" id="email" /></td>
                                        <td style="width: 60px">&nbsp;</td>
                                        <td><span style="color: #F96503;">PHONE*:</span></br><input type="text" class="form-input" name="phone" id="phone" /></td>
                                    </tr>


                                    <tr>
                                        <td colspan="3">
                                            <span style="color: #F96503;">MESSAGE:</span><br/>
                                            <textarea name="message" style="width: 730px; height:90px;"></textarea>
                                        </td>
                                    </tr>
                                    <tr><td colspan="3">&nbsp;</td></tr>
                                    <tr>
                                        <td colspan="3" style="text-align: center">
                                            <button type="submit">
                                                <img src="/images/send.png"/>
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                            </form>

                        </td>

                        <td width="100"></td>
                    </tr></table>
                </td>

                <td width="50"></td>
            </tr></table>
        </td>
    </tr>
</table>