<div class="header">
    <div class="logo col2">
        <a href="/home.html" class="sprite sprite--logo">Ignite Brand Group</a>
    </div>

    <nav class="nav-links col4 push8">
        <ul class="nav">
            <li>
                <a href="/about/who-we-are.html" data-flexmenu="flexmenu1">ABOUT</a>
            </li>
            <li>
                <a href="http://www.talkingoranges.com/" target="blank">BLOG</a>
            </li>
            <li>
                <a href="/faq.html">FAQ</a>
            </li>
            <li>
                <a href="/contact-us.html">CONTACT US</a>
            </li>
            <li>
                <a href="/search.html" rel="facebox" class="sprite sprite--navbar sprite--search-nav">Search</a>
            </li>
            <li>
                <a href="http://www.linkedin.com/company/ignite-brand-group" target="blank" class="sprite sprite--navbar sprite--linkedin-nav">LinkedIn</a>
            </li>
            <li>
                <a href="https://twitter.com/ignitebrand" target="blank" class="sprite sprite--navbar sprite--twitter-nav"></a>
            </li>
            <li>
                <a href="http://www.youtube.com/user/IgniteBrandGroup" target="blank" class="sprite sprite--navbar sprite--youtube-nav"></a>
            </li>
            <li>
                <a href="https://www.facebook.com/IgniteBrandGroup" target="blank" class="sprite sprite--navbar sprite--facebook-nav">Facebook</a>
            </li>
            <li>
                <a href="http://www.insidestartups.org/ignite-brand-group-llc" target="blank" class="sprite sprite--navbar sprite--insidestartups-nav"></a>
            </li>
        </ul>
    </nav>

    <!--HTML FOR ABOUT DROPDOWN MENU-->
    <ul id="flexmenu1" class="flexdropdownmenu">
        <li><a href="/about/who-we-are.html">WHO WE ARE</a></li>
        <li><a href="/about/why-we-work.html">WHY WE WORK</a></li>
        <li><a href="/about/what-we-believe.html">WHAT WE BELIEVE</a></li>
        <li><a href="/about/work-with-us.html">WORK WITH US</a></li>
    </ul>
    <!--END OF HTML FOR ABOUT DROPDOWN MENU-->

    <!--HTML FOR SERVICES DROPDOWN MENU-->
    <ul id="flexmenu2" class="flexdropdownmenu">
        <li><a href="/services/what-we-do.html">WHAT WE DO</a></li>
        <li><a href="/services/how-we-work.html">HOW WE WORK</a></li>
        <li><a href="/services/portfolio.html">PORTFOLIO</a></li>
    </ul>
</div>