<table width="100%" align="center" valign="top" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr width="100%">
        <td width="100%" height="100" align="center" valign="center">
            <table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>
                <td width="50"></td>

                <td width="500" align="left" valign="top">
                    <h5>&#169; 2012-2014 Ignite Brand Group, LLC. All rights reserved.</h5>
                </td>

                <td width="500" align="right" valign="top">
                    <h5><a href="https://maps.google.com/maps?q=1375+Broadway,+New+York,+NY&hl=en&sll=40.697488,-73.979681&sspn=1.128636,1.005249&oq=1375&hnear=1375+Broadway,+New+York,+10018&t=m&z=17" target="blank"><font color="#5a5859">1375 BROADWAY, 11TH FL, NEW YORK, NY 10018</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/privacy-policy.html"><font color="#5a5859">PRIVACY POLICY</font></a></h5>
                </td>

                <td width="50"></td>
            </tr></table>
        </td>
    </tr>
</table>