<header class="site-header">
    <div class="site-header__inner">
        <div class="site-logo">
            <a href="/home.html" class="sprite sprite--logo">Ignite Brand Group</a>
        </div>

        <nav class="site-nav">
            <ul class="site-nav__links">
                <li class="site-nav__link site-nav__link--text">
                    <a href="/about/who-we-are.html" data-flexmenu="flexmenu1">ABOUT</a>
                </li>
                <li class="site-nav__link site-nav__link--text">
                    <a href="/services/what-we-do.html" data-flexmenu="flexmenu2">SERVICES</a>
                </li>
                <li class="site-nav__link site-nav__link--text">
                    <a href="/news.html">NEWS</a>
                </li>
                <li class="site-nav__link site-nav__link--text">
                    <a href="http://www.talkingoranges.com/" target="blank">BLOG</a>
                </li>
                <li class="site-nav__link site-nav__link--text">
                    <a href="/faq.html">FAQ</a>
                </li>
                <li class="site-nav__link site-nav__link--text">
                    <a href="/contact-us.html">CONTACT US</a>
                </li>
                <li class="site-nav__link site-nav__link--icon">
                    <a href="/search.html" rel="facebox" class="sprite sprite--navbar sprite--search-nav">Search</a>
                </li>
                <li class="site-nav__link site-nav__link--icon">
                    <a href="http://www.linkedin.com/company/ignite-brand-group" target="blank" class="sprite sprite--navbar sprite--linkedin-nav">LinkedIn</a>
                </li>
                <li class="site-nav__link site-nav__link--icon">
                    <a href="https://twitter.com/ignitebrand" target="blank" class="sprite sprite--navbar sprite--twitter-nav"></a>
                </li>
                <li class="site-nav__link site-nav__link--icon">
                    <a href="http://www.youtube.com/user/IgniteBrandGroup" target="blank" class="sprite sprite--navbar sprite--youtube-nav"></a>
                </li>
                <li class="site-nav__link site-nav__link--icon">
                    <a href="https://www.facebook.com/IgniteBrandGroup" target="blank" class="sprite sprite--navbar sprite--facebook-nav">Facebook</a>
                </li>
                <li class="site-nav__link site-nav__link--icon">
                    <a href="http://www.insidestartups.org/ignite-brand-group-llc" target="blank" class="sprite sprite--navbar sprite--insidestartups-nav"></a>
                </li>
            </ul>

            <!--HTML FOR ABOUT DROPDOWN MENU-->
            <ul id="flexmenu1" class="flexdropdownmenu">
                <li><a href="/about/who-we-are.html">WHO WE ARE</a></li>
                <li><a href="/about/why-we-work.html">WHY WE WORK</a></li>
                <li><a href="/about/what-we-believe.html">WHAT WE BELIEVE</a></li>
                <li><a href="/about/work-with-us.html">WORK WITH US</a></li>
            </ul>
            <!--END OF HTML FOR ABOUT DROPDOWN MENU-->

            <!--HTML FOR SERVICES DROPDOWN MENU-->
            <ul id="flexmenu2" class="flexdropdownmenu">
                <li><a href="/services/what-we-do.html">WHAT WE DO</a></li>
                <li><a href="/services/how-we-work.html">HOW WE WORK</a></li>
                <li><a href="/services/portfolio.html">PORTFOLIO</a></li>
            </ul>
            <!--END OF HTML FOR ABOUT DROPDOWN MENU-->
        </nav>
    </div>
</header>