<footer class="site-footer">
    <div class="site-footer-content">
        <div class="site-footer-content__row">
            <small class="site-footer-text site-footer-text--block1">&copy; 2012-2014 Ignite Brand Group, LLC. All rights reserved.</small>
            <small class="site-footer-text  site-footer-text--block2">
                <a href="https://maps.google.com/maps?q=1375+Broadway,+New+York,+NY&hl=en&sll=40.697488,-73.979681&sspn=1.128636,1.005249&oq=1375&hnear=1375+Broadway,+New+York,+10018&t=m&z=17" target="blank">
                    1375 BROADWAY, 11TH FL, NEW YORK, NY 10018
                </a>
            </small>
            <small class="site-footer-text  site-footer-text--block3">
                <a href="/privacy-policy.html">
                    PRIVACY POLICY
                </a>
            </small>
        </div>
    </div>
</footer>