<nav class="nav-tab-wrapper">
    <ul class="nav nav-tabs pull-right">
        {{#each this}}
            <li class="active">
                <a href="{{url}}">{{text}}</a>
            </li>
        {{/each}}
    </ul>
</nav>