---
layout: base_layout.hbs
---
<div class="homepage-content">

    {{> header }}

    {{> top-spacer }}

    <table width="100%" align="center" valign="top" border="0" cellpadding="0" cellspacing="0">

        <tr width="100%">
            <td width="100%" height="100"></td>
        </tr>

        <tr width="100%">
            <td width="100%">
                <table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>
                    <td width="50"></td>

                    <td width="1000" height="200" align="center" valign="center">
                        <table width="1000" height="200" align="center" valign="top" border="0" cellpadding="30" cellspacing="0" class="tagline">
                            <tr>
                                <td width="1000" height="200" align="center" valign="center">
                                    {{!--<font family="'gill sans', verdana" color="#FFFFFF" size="10">We make businesses look distinctive.</font>--}}
                                    We make businesses look distinctive.
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td width="50"></td>
                </tr></table>
            </td>
        </tr>


        <tr width="100%">
            <td width="100%" height="100"></td>
        </tr>


        <tr width="100%">
            <td width="100%">
                <table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>
                    <td width="50"></td>

                    <td width="600" align="center" valign="center">
                        <table width="600" align="center" valign="top" border="0" cellpadding="30" cellspacing="0" bgcolor="#FFFFFF"><tr>

                            <td width="600" align="left" valign="top">
                                <h1>We work with doctors and lawyers who think outside of the box.</h1>
                                <p><img src="images/we-work-with-doctors-and-lawyers-who-think-outside-of-the-box.png" style="padding-right: 20px" align="left" height="100" border="0" alt="We work with doctors and lawyers who think outside of the box."/>You're a superhero in your industry. We help communicate that, so the need for your services becomes a want.</p>
                            </td>

                        </tr></table>
                    </td>

                    <td width="450"></td>
                </tr></table>
            </td>
        </tr>


        <tr width="100%">
            <td width="100%" height="100"></td>
        </tr>


        <tr width="100%">
            <td width="100%">
                <table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>
                    <td width="450"></td>

                    <td width="600" align="center" valign="center">
                        <table width="600" align="center" valign="top" border="0" cellpadding="30" cellspacing="0" bgcolor="#FFFFFF"><tr>

                            <td width="600" align="right" valign="top">
                                <img src="images/build-a-brand-not-just-a-website.png" height="100" border="0" alt="Build a brand, not just a website."/>
                                <h1>Build a brand, not just a website.</h1>
                                <p>Make the human connection needed to get not just any old client, but the right client. <a href="what-we-do.html">Our services</a> include logo and web design, video and image production, copywriting, pay-per-click advertising, mobile apps, <a href="what-we-do.html">and more</a>.</p>
                            </td>

                        </tr></table>
                    </td>

                    <td width="50"></td>
                </tr></table>
            </td>
        </tr>


        <tr width="100%">
            <td width="100%" height="100"></td>
        </tr>

    </table>


    <table width="100%" align="center" valign="top" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <tr width="100%">
            <td width="100%">
                <table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>
                    <td width="50"></td>

                    <td width="1000" align="left" valign="center">
                        <table width="1000" align="center" valign="top" border="0" cellpadding="30" cellspacing="0"><tr>

                            <td width="33%" align="center" valign="top">
                                <a href="/services/portfolio.html" class="sprite sprite--home sprite--portfolio-home">Portfolio</a>
                                <h3><a href="portfolio.html">Portfolio</a></h3>
                            </td>

                            <td width="33%" align="center" valign="top">
                                <a href="what-we-do.html" class="sprite sprite--home sprite--services-home">Services</a>
                                <h3><a href="what-we-do.html">Services</a></h3>
                            </td>

                            <td width="33%" align="center" valign="top">
                                <a href="http://www.talkingoranges.com/" target="blank" class="sprite sprite--home sprite--oranges-home">Talking Oranges</a>
                                <h3><a href="http://www.talkingoranges.com/" target="blank">Talking Oranges</a></h3>
                            </td>

                        </tr></table>
                    </td>

                    <td width="50"></td>
                </tr></table>
            </td>
        </tr>
    </table>


    <table width="100%" valign="top" border="0" cellpadding="0" cellspacing="0" bgcolor="#e7e7e4" id="form_table">
        <tr width="100%">
            <td width="100%">
                <table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>
                    <td width="50"></td>

                    <td width="1000" align="left" valign="center">
                        <table width="1000" height="450" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>
                            <td width="100"></td>

                            <td width="800" height="450" align="center" valign="middle">
                                <h1>Like some orange with your branding?</h1>
                                <p>Tell us what you need using the form below - or give us a call at 646.237.6931.</p>
                                <form onsubmit="return false;" action="" method="post" id="contact-us" name="contact-us">
                                    <table>
                                        <tr>
                                            <td><span style="color: #F96503;">NAME*:</span></br><input type="text" class="form-input" name="name" id="name" /></td>
                                            <td style="width: 60px">&nbsp;</td>
                                            <td>
                                                <span style="color: #F96503;">HOW CAN WE HELP?*:</span>
                                                </br>
                                                <select name="help" class="form-input">
                                                    <option value='I need a website.'>I need a website.</option>
                                                    <option value='I need a logo.'>I need a logo.</option>
                                                    <option value='I need a business name.'>I need a business name.</option>
                                                    <option value='I need a photos.'>I need a photos.</option>
                                                    <option value='I need a video.'>I need a video.</option>
                                                    <option value='I need a copywriter'>I need a copywriter</option>
                                                    <option value='I need to make my business easier to find online.'>I need to make my business easier to find online.</option>
                                                    <option value='I need an online questionnaire/survey.'>I need an online questionnaire/survey.</option>
                                                    <option value='I need an online appointment booking system.'>I need an online appointment booking system.</option>
                                                    <option value='I need a mobile app.'>I need a mobile app.</option>
                                                    <option value='I need a Google AdWords campaigns.'>I need a Google AdWords campaigns.</option>
                                                    <option value="I'm a doctor and need to manage my online reputation.">I'm a doctor and need to manage my online reputation.</option>
                                                    <option value='I need advice on my digital branding.'>I need advice on my digital branding.</option>
                                                    <option value='I need paper collateral.'>I need paper collateral.</option>
                                                    <option value='I need something else.'>I need something else.</option>
                                                </select>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td><span style="color: #F96503;">EMAIL*:</span></br><input type="text" class="form-input" name="email" id="email" /></td>
                                            <td style="width: 60px">&nbsp;</td>
                                            <td><span style="color: #F96503;">PHONE*:</span></br><input type="text" class="form-input" name="phone" id="phone" /></td>
                                        </tr>


                                        <tr>
                                            <td colspan="3">
                                                <span style="color: #F96503;">MESSAGE:</span><br/>
                                                <textarea name="message" style="width: 730px; height:90px;"></textarea>
                                            </td>
                                        </tr>
                                        <tr><td colspan="3">&nbsp;</td></tr>
                                        <tr>
                                            <td colspan="3" style="text-align: center">
                                                <img src="images/send.png" onclick="validate()" />
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </td>

                            <td width="100"></td>
                        </tr></table>
                    </td>

                    <td width="50"></td>
                </tr></table>
            </td>
        </tr>
    </table>

    {{> footer }}

</div>