---
layout: standard_layout.hbs
---

<table width="100%" align="center" valign="top" border="0" cellpadding="0" cellspacing="0">
    <tr width="100%">
        <td width="100%" height="100" align="center" valign="top"></td>
    </tr>
</table>

<table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0">

    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="left" valign="top">
            <br/>
            <h1>News</h1>
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>
                <td width="475" align="left" valign="top">
                    <p>We'll make big announcements here. For news, analysis, and other tidbits about all things branding and tech-related, visit our blog, <a href="/http://www.talkingoranges.com" target="blank">Talking Oranges</a>. For day-to-day peeks at what we're doing or reading, connect with us on <a href="/https://twitter.com/ignitebrand" target="blank">Twitter</a> or <a href="/https://www.facebook.com/IgniteBrandGroup" target="blank">Facebook</a>.</p>
                </td>

                <td width="50"></td>

                <td width="475" align="left" valign="top">
                    <img src="/images/news-intro.png" width="475" height="100" border="0" alt="Otto von Oranges bringing the news."/>
                </td>
            </tr></table>
        </td>

        <td width="50"></td>
    </tr>

    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" height="180" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="475" align="left" valign="top">
                    <h4>April 7, 2014</h4>
                    <p>We've moved offices with no oranges damaged. Come <a href="/contact-us.html">visit us</a> sometime at our new digs near Times Square.
                        <br/><br/>
                        And we <a href="/http://www.talkingoranges.com/an-oscar-special-birthday-surprise-for-his-peeps/" target="blank">hit our two-year mark</a> recently, too. Almost forgot.</p>
                </td>

                <td width="50"></td>

                <td width="475" align="center" valign="top">
                    <img src="/images/news-2014-04-07.png" border="0" width="475" height="250" alt="Ignite Brand Group moves into Times Square on second birthday."/>
                </td>

            </tr></table>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" height="180" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="475" align="left" valign="top">
                    <h4>January 31, 2014</h4>
                    <p>We've launched three new client websites this month! We're especially proud of the branding and design of <a href="/http://www.cigsurg.com/index" target="blank">Connecticut Guided Image Surgery's new site</a> - check it out!</p>
                </td>

                <td width="50"></td>

                <td width="475" align="center" valign="top">
                    <img src="/images/news-2014-01-31.png" border="0" width="475" height="250" alt="Ignite Brand Group launches Connecticut Image Guided Surgery"/>
                </td>

            </tr></table>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" height="180" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="475" align="left" valign="top">
                    <h4>November 15, 2013</h4>
                    <p>We had a great time yesterday at the <a href="/https://services.nycbar.org/iMIS/Events/Event_Display.aspx?EventKey=SYMP2013&WebsiteKey=f71e12f3-524e-4f8c-a5f7-0d16ce7b3314" target="blank">New York City Bar Association's 10th Annual Small Law Firm Symposium</a>! We spoke about logo design as part of a panel about networking, and we loved meeting so many wonderful attorneys, too. For more on logo design, check out today's <a href="/http://www.talkingoranges.com/how-to-design-a-great-law-firm-logo-choosing-color-scheme/" target="blank">post</a> on Talking Oranges.</p>
                </td>

                <td width="50"></td>

                <td width="475" align="center" valign="top">
                    <img src="/images/news-2013-11-15.png" border="0" width="475" height="250" alt="Ignite Brand Group presenting at the New York City Bar Association's 10th annual Small Law Firm Symposium"/>
                </td>

            </tr></table>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" height="180" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="475" align="left" valign="top">
                    <h4>November 13, 2013</h4>
                    <p>We're headed to the <a href="/https://services.nycbar.org/iMIS/Events/Event_Display.aspx?EventKey=SYMP2013&WebsiteKey=f71e12f3-524e-4f8c-a5f7-0d16ce7b3314" target="blank">New York City Bar Association's 10th annual Small Law Firm Symposium</a> tomorrow! We'll be speaking about branding as part of the first panel of the day on networking online and offline. Drop by our table in the exhibition hall to say hello!</p>
                </td>

                <td width="50"></td>

                <td width="475" align="center" valign="top">
                    <img src="/images/news-2013-11-13.png" border="0" width="475" height="250" alt="Ignite Brand Group attending New York City Bar Association's 10th annual Small Law Firm Symposium"/>
                </td>

            </tr></table>

        <td width="50"></td>
    </tr>


</table>