---
layout: standard_layout.hbs
title: Verbal Strategist Application
---

<table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0">

    <tr width="1100">
        <td width="50"></td>

        <td width="1000" height="500" align="left" valign="center">
            <br/>
            <h1>Work With Us</h1>

            {{!--{{> about_tabs }}--}}
            <br/><br/>

            <img src="/images/banner-job-post.jpg" border="0" width="1000" height="300" alt="Job Application - Ignite Brand Group"/>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="25"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="center">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="650" align="left" valign="top">
                    <h1>Verbal Strategist</h1>
                    <h3>Summary</h3>
                    <p>The Verbal Strategist crafts and implements the brand voices for Ignite Brand Group and its clients. This means working with our clients to identify and develop brand identities and their expression, including naming, taglines, and messaging strategies. This person will also create any other verbal content needed, from website copy to proposals and pitch material. This person will also write, promote, and develop our blog, Talking Oranges. Although this person will have primary responsibility and ownership over these duties, he or she will work in conjunction with the rest of Ignite’s team on most projects. He or she should have an understanding of all the other artistic, business, and brand elements that come into play in content creation and strategy, especially in the digital space.
                        <br/><br/>
                        As a small, young company looking to grow, we want someone ready to take on more responsibility than just verbal strategy and copywriting (which, yes, could mean a different job title than "Verbal Strategist" - we're flexible). Maybe you're a star account manager or salesperson who gets deals closed more often than not. Maybe you're a whiz at web analytics or market research. Maybe you've built a few mobile apps in your day. Maybe you're the most efficient office administrator on the planet. Whatever it is, you should be ready to dive in and get your hands dirty with every task, whether it's strategizing our next service line or researching cocktail bars for happy hour.</p>
                    <br/>
                    <h3>Primary Responsibilities</h3>
                    <ul>
                        <li><span>Develop and implement verbal identity, voice, and messaging strategy for both legal and medical clients, including drafting and editing copy for digital and print</span></li>
                        <li><span>Draft and revise proposals, presentations, and creative briefs</span></li>
                        <li><span>Create digital and print sales and marketing collateral for Ignite</span></li>
                        <li><span>Communicate with clients as needed, including interviews</span></li>
                        <li><span>Research, write weekly posts, promote, and develop strategy for Ignite's blog, <a href="http://www.talkingoranges.com/" target="blank">Talking Oranges</a></span></li>
                        <li><span>Stay up to date on news and trends in fields related to Ignite and its clients, including branding, marketing, advertising, technology, social media, law, and medicine</span></li>
                        <li><span>Direct and help execute Ignite's social media strategy</span></li>
                        <li><span>Collaborate with the rest of Ignite’s team on most projects</span></li>
                        <li><span>Help expand or revise Ignite’s offerings and participate in business development opportunities as appropriate</span></li>
                        <li><span>Contribute however else possible to Ignite to help it grow</span></li>
                    </ul>
                    <br/>
                    <h3>Desired Qualities</h3>
                    <ul>
                        <li><span>Excellent writer with impeccable grammar and mechanics, a strong understanding of storytelling and voice, and flexibility across a range of technical and creative forms and styles - please send us a portfolio if you have one</span></li>
                        <li><span>Quick and self-motivated learner</span></li>
                        <li><span>Creative and analytical thinker, able to pay attention to detail and the big picture</span></li>
                        <li><span>Strong interpersonal and communication skills</span></li>
                        <li><span>Comfortable working directly with clients</span></li>
                        <li><span>Desire to work both as part of a close-knit team and individually, as needed</span></li>
                        <li><span>Up to the challenge of growing a small, young, fast-paced business, including taking on unexpected duties and finding and pursuing opportunities for growth</span></li>
                        <li><span>Willing to contribute other skills or talents, whatever they may be</span></li>
                        <li><span>An eye for art and media (visual, literary, musical, cinematic&hellip;)</span></li>
                        <li><span>Passionate about digital and traditional branding and marketing</span></li>
                    </ul>
                    <br/>
                    <h3>Desired Qualifications</h3>
                    <ul>
                        <li><span>Experience working in healthcare or law; JD, RN, or similar degree or research experience a plus</span></li>
                        <li><span>Experience in branding, digital marketing, or related field</span></li>
                        <li><span>Experience copywriting, blogging, social media, and writing for a professional audience</span></li>
                        <li><span>Experience working in an entrepreneurial/ small business environment</span></li>
                        <li><span>Ability to commute to Ignite's Manhattan office M-F</span></li>
                        <li><span>BA or BS from an accredited university</span></li>
                        <li><span>US driver’s license and willingness to drive</span></li>
                    </ul>
                    <br/>
                    <h3>Ready to Apply?</h3>
                    <p>Submit your application through the "Application Form" on the right-hand side of this page. If you have any questions or concerns, contact us at <a href="mailto:info@ignitebrandgroup.com">info@ignitebrandgroup.com</a>.</p>
                    <br/>
                    <p><a href="/about/work-with-us.html">&#8592; See other open positions</a></p>
                    <br/>
                </td>

                <td width="50"></td>

                <td width="300" align="left" valign="top" id="apply_here">
                    {{> applicationForm }}
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>

</table>

<iframe id="upload_target" name="upload_target" src="" style="width:0;height:0;border:0px solid #fff;" ></iframe>

<div id="overlay" class="overlay" style="display: none">
    <div id ="modal" class="modal" style="background:url('/images/loading.gif') no-repeat center center;"></div>
</div>