$white: #FFFFFF;
$dark-gray: #5f5b59;
$light-gray: #E0E0DF;
$orange: #FF6900;

$primary-font: Geneva, Tahoma, 'Trebuchet MS';
$secondary-font: 'Gill Sans', Verdana;

//$min-site-width: 1100px;
//$top-navbar-height: 100px;