/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$ignite_x = 0px;
$ignite_y = 0px;
$ignite_offset_x = 0px;
$ignite_offset_y = 0px;
$ignite_width = 169px;
$ignite_height = 50px;
$ignite_total_width = 169px;
$ignite_total_height = 100px;
$ignite_image = '../images/sprite.png';
$ignite = 0px 0px 0px 0px 169px 50px 169px 100px '../images/sprite.png';
$ignite_hover_x = 0px;
$ignite_hover_y = 50px;
$ignite_hover_offset_x = 0px;
$ignite_hover_offset_y = -50px;
$ignite_hover_width = 169px;
$ignite_hover_height = 50px;
$ignite_hover_total_width = 169px;
$ignite_hover_total_height = 100px;
$ignite_hover_image = '../images/sprite.png';
$ignite_hover = 0px 50px 0px -50px 169px 50px 169px 100px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
