---
layout: standard_layout.hbs
title: How We Work
---

<table width="1100" align="center" valign="top" border="0" cellpadding="0" cellspacing="0">

    <tr width="1100">
        <td width="50"></td>

        <td width="1000" height="500" align="left" valign="center">
            <br/>
            <h1>Services</h1>

            {{> servicesTabs }}
            <br/><br/>

            <table width="1000" height="500" align="center" valign="top" border="0" cellpadding="0" cellspacing="0" class="how-we-work-banner"><tr>

                <td width="50"></td>

                <td width="440" align="left" valign="bottom">
                    <table width="440" align="center" valign="top" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                        <tr>
                            <td colspan="3" width="440" height="20"></td>
                        </tr>

                        <tr>
                            <td width="20"></td>

                            <td width="400" align="left" valign="center">
                                <h1>How We Work</h1>
                                <p>We like structure and analysis with our branding and design. </p>
                            </td>

                            <td width="20"></td>
                        </tr>

                        <tr>
                            <td colspan="3" width="440" height="20"></td>
                        </tr>
                    </table>
                    <br/><br/>
                </td>

                <td width="560" align="right" valign="center"></td>

                <td width="50"></td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="25"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="left" valign="top">
            <h1>Our Approach</h1>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="top">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="300" align="left" valign="top">
                    <img src="/images/how-we-work-branding-is-more-than-just-a-logo.png" border="0" width="300" height="200" alt="Branding is more than just a logo."/>
                    <br/>
                    <h3>Branding is more than just a logo. (But we make those, too.)</h3>
                    <p>No matter what stage your practice is at, we help you build and reinforce the emotional connection between your practice and potential clients. Read about <a href="/what-we-do.html">what we can do for you</a>.</p>
                </td>

                <td width="50"></td>

                <td width="300" align="left" valign="top">
                    <img src="/images/how-we-work-collaborate.png" border="0" width="300" height="200" alt="Collaborate."/>
                    <br/>
                    <h3>Collaborate.</h3>
                    <p>We want our clients to be happy with our work. We build collaboration into the design process, requesting your feedback at each stage before moving on to the next. For an example, here's the big picture of <a href="/how-we-work.html#websitedesign">our process for website design</a>.</p>
                </td>

                <td width="50"></td>

                <td width="300" align="left" valign="top">
                    <img src="/images/how-we-work-get-things-done.png" border="0" width="300" height="200" alt="Get things done."/>
                    <br/>
                    <h3>Get things done.</h3>
                    <p>Like all things creative, branding and design are systematic processes. We have start and end points, and defined steps in between. Because no one wants endless.</p>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="100"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="top">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="590" align="left" valign="top">
                    <h1><a id="websitedesign">Our Process: Website Design Example</a></h1>
                    <p>Whether you're looking for a logo, a website, or just some advice, we use a structured, collaborative, iterative process to ensure you're happy with our work every step of the way. As an example, here's what the big picture looks like for a practice with a name and logo but no website.</p>
                </td>

                <td width="25"></td>

                <td width="385" align="center" valign="top">

                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


    <tr width="1100">
        <td colspan="3" width="1100" height="50"></td>
    </tr>


    <tr width="1100">
        <td width="50"></td>

        <td width="1000" align="center" valign="top">
            <table width="1000" align="center" valign="top" border="0" cellpadding="0" cellspacing="0"><tr>

                <td width="180" align="left" valign="top">
                    <img src="/images/our-process-interview.png" border="0" width="180" height="180" alt="Our Process: Interview"/>
                    <br/>
                    <h3>Interview</h3>
                    <p>We can't brand you if we don't know you. So first, we get to know you, your business, your goals, and your approach to your work. We're looking for the things that make you distinctive.</p>
                </td>

                <td width="25"></td>

                <td width="180" align="left" valign="top">
                    <img src="/images/our-process-brainstorm.png" border="0" width="180" height="180" alt="Our Process: Brainstorm"/>
                    <br/>
                    <h3>Brainstorm</h3>
                    <p>We brainstorm and research ideas for your business's brand concept. With your input in an iterative process, we develop a unified image and voice to be used consistently across all platforms.</p>
                </td>

                <td width="25"></td>

                <td width="180" align="left" valign="top">
                    <img src="/images/our-process-develop.png" border="0" width="180" height="180" alt="Our Process: Develop"/>
                    <br/>
                    <h3>Develop</h3>
                    <p>We translate your brand concept into a custom-designed, user-friendly website and social media accounts, including professional photography, original images, catchy slogans, and tailored content. Like the brainstorming phase, the design process is structured and iterative, requiring your input at each stage.</p>
                </td>

                <td width="25"></td>

                <td width="180" align="left" valign="top">
                    <img src="/images/our-process-launch.png" border="0" width="180" height="180" alt="Our Process: Launch"/>
                    <br/>
                    <h3>Launch</h3>
                    <p>After confirmation from you, we launch your website! But don't worry. We don't just vanish. We'll update your website to parallel the evolution of your business and brand identity.</p>
                </td>

                <td width="25"></td>

                <td width="180" align="left" valign="top">
                    <img src="/images/our-process-manage.png" border="0" width="180" height="180" alt="Our Process: Manage"/>
                    <br/>
                    <h3>Manage</h3>
                    <p>We maintain your website, manage your digital listings, and set up your pay-per-click advertising - so that your digital presence grows.</p>
                </td>

            </tr></table>
        </td>

        <td width="50"></td>
    </tr>


</table>