---
layout: standard_layout.hbs
aboutTabs:
-   text: Who We Are
    url: /about/who-we-are.html
-   text: Why We Work
    url: /about/why-we-work.html
-   text: What We Believe
    url: /about/what-we-believe.html
-   text: Work With Us
    url: /about/work-with-us.html
---
<div class="about-content">

    <h1 class="about-header">
        {{header.title}}
    </h1>

    {{!--tabs--}}
    {{>tabs aboutTabs}}

    <div class="about-banner about-banner--{{header.bannerName}}">
        {{#if header.inset}}
            <div class="about-banner-inset">
                <h1>{{{header.inset.title}}}</h1>
                <p>
                    {{{header.inset.text}}}
                </p>
            </div>
        {{/if}}
    </div>

    {{> body }}

</div>