@import 'bootstrap-stylus/stylus/scaffolding'
@import 'bootstrap-stylus/stylus/utilities'
@import 'bootstrap-stylus/stylus/type'
@import 'bootstrap-stylus/stylus/code'
@import 'bootstrap-stylus/stylus/grid'
@import 'bootstrap-stylus/stylus/tables'
@import 'bootstrap-stylus/stylus/forms'
@import 'bootstrap-stylus/stylus/buttons'

body
  padding-top 100px
  min-width $min-site-width